* {
  padding: 0;
  margin: 0;
}

body {
  background-color: beige;
}

/*****************NAVIGATION***************/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: mediumturquoise;
  border: solid red 1.5px;
}

ul {
  border: solid red 1.5px;
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

ul a {
  display: block;
  padding: 1em;
  color: black;
}

.logo {
  border: solid red 1.5px;
  padding: 1em;
  text-transform: uppercase;
}

.logo a {
  color: black;
}

.logo a,
ul a {
  text-decoration: none;
  letter-spacing: 0.4em;
}

ul a:hover {
  background-color: goldenrod;
}

/*****************DOGS***************/

.dogs {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: center;
}

.dogs img {
  width: 350px;
  margin: 20px;
}
